@font-face {
  font-family: rubik;
  src: url(Rubik-VariableFont_wght.ttf);
}

:root {
  --dark-gray: rgb(39, 39, 42);
  --light-gray: rgba(228, 228, 231);
  --blue: rgb(29, 89, 124);
  --white: rgb(250, 250, 250);
}

html {
  box-sizing: border-box;
}
body {
  font-family: rubik, sans-serif;
  color: var(--dark-gray);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
.container {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.header {
  background-color: var(--white);
  grid-column: 2 / 3;
  padding: 30px 40px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 50px;
  column-gap: 50px;
  z-index: 1;
  box-shadow: 3px 3px 5px rgb(175 175 175/ 0.5);
  row-gap: 20px;
}

.header div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
}
.header .profile-corner {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
.profile-corner p {
  padding-right: 15px;
}
input,
button {
  border-radius: 25px;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
input {
  background-color: var(--light-gray);
  width: 100%;
  padding: 3px 0;
  padding-left: 8px;
}
button {
  padding: 5px 20px;
  background-color: var(--blue);
  color: var(--white);
}
.header .profile-greeting {
  display: flex;
  gap: 20px;
}
.profile-corner img,
.profile-greeting img {
  height: 50px;
}
.search-bar img,
.profile-corner img[src="img/bell-ring-outline.svg"] {
  height: 32px;
}
.header .profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-details h4,
.profile-corner h4 {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-size: 1.4rem;
}

.profile-details p {
  font-size: 1.1em;
  border: none;
}

.sidebar {
  background-color: var(--blue);
  grid-row: 1 / 3;
  color: white;
  display: grid;
  grid-template-rows: repeat(3, max-content);
}
.logo {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  gap: 4px;
  margin-left: -10px;
}
.logo img {
  height: 50px;
}
.logo p {
  font-size: 1.8rem;
}
.profile-corner img[src="img/user-profile-photo.jpg"] {
  height: 50px;
  border-radius: 50%;
}

.profile-greeting img {
  border-radius: 50%;
  height: 75px;
}
.sidebar > * {
  padding: 30px;
}

.user-links,
.privacy-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-links div > img,
.privacy-section div > img {
  display: inline-block;
  height: 15px;
  width: 20px;
}

.user-links div,
.privacy-section div {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  gap: 16px;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e4e4e7;
}
.projects {
  grid-row: 1/3;
}
.main div > h2 {
  padding: 30px 0px 0px 30px;
}

.projects-grid {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.cards {
  background-color: white;
  box-shadow: 0px 3px 5px rgb(175 175 175 / 0.7);
  border-radius: 5px;
}

.projects-grid .cards {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  border-left: 7px solid rgba(255, 187, 16, 0.75);
}

.cards > h4 {
  text-indent: 20px;
  padding: 20px;
}
.cards > p {
  line-height: 25px;
  padding: 20px;
}

.card-btns {
  justify-self: end;
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  gap: 5px;
}

.announcements .content,
.trending .content {
  display: grid;
  grid-auto-rows: 100px;
  padding: 30px;
  width: 250px;
  gap: 15px;
}

.announcements .content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements,
.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.announcements > h2,
.trending > h2 {
  margin-bottom: 30px;
  align-self: flex-start;
}

.trending .content div img {
  height: 75px;
  border-radius: 50%;
}
.trending-user--1,
.trending-user--2,
.trending-user--3,
.trending-user--4 {
  display: flex;
  gap: 18px;
  align-items: center;
}
h4 + p {
  line-height: 25px;
  border-bottom: 2px solid var(--light-gray);
}
h4 {
  display: block;
  margin: 4px;
}

.trending {
  margin-bottom: 30px;
}

button:active {
  background-color: rgb(26 73 101);
}
